{% extends 'car/base.html'%}

{% block title %}
aboutus_page
{% endblock%}

{% load static %}

{% block content%}
    <h3>About us</h3>
{% endblock content%}

<form action="{% url 'car:register_page' %}" method="POST">
    {% csrf_token %}
    
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" required><br><br>

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" required><br><br>

    <label for="username">Username:</label>
    <input type="text" name="username" required><br><br>

    <label for="email">Email:</label>
    <input type="email" name="email" required><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" required><br><br>

    <label for="phone_number">Phone Number:</label>
    <input type="tel" name="phone_number" required><br><br>

    <label for="address">Address:</label>
    <input type="text" name="address" required><br><br>

    <label for="city">City:</label>
    <input type="text" name="city" required><br><br>

    <label for="state">State:</label>
    <input type="text" name="state" required><br><br>

    <label for="pin_code">Pin Code:</label>
    <input type="text" name="pin_code" required><br><br>

    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" name="date_of_birth"><br><br>

    <label for="profile_picture">Profile Picture:</label>
    <input type="file" name="profile_picture"><br><br>

    <input type="submit" value="submit">
    
</form>