<!doctype html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>RideFinder - {% block title %}   {% endblock%}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'car/source/bootstrap-3.3.6-dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'car/source/font-awesome-4.5.0/css/font-awesome.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'car/style/slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'car/style/mystyle.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'car/css/cars.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'car/css/register.css'%}">
    
    

  </head>
  <body>
    <!-- Header -->
    <div class="allcontain">
        <div class="header">

                <ul class="socialicon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
                <ul class="givusacall">
                    
                    <li>RIDE FINDER </li>
                </ul>
    
                <ul class="logreg">

                        <li><a href="{% url 'car:login_page' %}">Login </a> </li>
                        <li><a href="{% url 'car:register_page' %}"><span class="register">Register</span></a></li>
                        <!-- <li><a href="{% url 'car:dashboard_page' %}"><span class="register">Dashboard</span></a></li> -->
                    
                </ul>
        </div>

        <!-- Navbar Up -->
        <nav class="topnavbar navbar-default topnav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
                        <span class="sr-only"> Toggle navigaion</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand logo" href="#"><img src="{% static 'car/image/logo1.png'%}" alt="logo"></a> -->
                </div>	 
            </div>
            <div class="collapse navbar-collapse" id="upmenu">
                <ul class="nav navbar-nav" id="navbarontop">
                    <li class="active"><a href="{% url 'car:home_page' %}">HOME</a> </li>
                    <li class="active"><a href="{% url 'car:cars_page' %}">CARS</a> </li>
                    <li class="active"><a href="{% url 'car:gallery_page' %}">GALLERY</a> </li>
                    <li class="active"><a href="{% url 'car:contactus_page' %}">CONTACT US</a> </li>
                    <li class="active"><a href="{% url 'car:aboutus_page' %}">ABOUT US</a> </li>

                </ul>
            </div>
        </nav>
    </div>
    {% block content%}

    {% endblock content%}
    
    </head>
</html>