{% extends 'car/base.html'%}
{% load static %}

{% block title %}
cars_page
{% endblock%}

{% block content %}

    {% for cars in car_details %}
        <div class="card" style="width: 18rem;">
            <img src="{{ cars.image }}"  class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">Car name : {{cars.car_title}}</h5>
            <h5 class="card-title">Car color : {{cars.color}}</h5>
            
            <a href="#" class="btn btn-primary">Add to dashboard</a>
            </div>
        </div>
    {% endfor %}
  


  {% endblock content %}
