{% extends 'car/base.html'%}

{% block title %}
Login_page
{% endblock%}

{% load static %}

{% block content%}
<div class="container">
    <br>
    <br>
    
    <div class="box">
        <br>
        <h1 class="top">USER LOGIN</h1>
        <br>
        <p class="caption">RideFinder Login</p>
        <br>
        <hr>
        <br>

        <form action="{% url 'car:login_page' %}" method="POST">
            {% csrf_token %}
            <input id="username" class="mobile" type="text" placeholder="Mobile number or Email address" name="user">
            <br>
            <br>
            <P id="mail_id"> </P>
            <input id="password" class="mobile" type="password" placeholder="Password" name="pass">
            <br>
            <br>
            <p id="pass"> </p>
            <button type="submit" class="sign" >Login</button>
            <br>
            <br>
        </form>
       
           
            

       
        
        
    </div>
    <br><br><br><br>
    
</div>

{% endblock content%}