{% extends 'car/base.html'%}

{% block title %}
Register_page
{% endblock%}

{% load static %}
{% block content %}


<form action="{% url 'car:register_page' %}" method="POST">
  {% csrf_token %}
  <div class="box">
    <h1 class="top">Create a new account</h1>
    <p class="caption">It's quick and easy.</p>
    <br>
    <hr>
    <br>
    <input id="first_name" class="first" type="text" placeholder="First name" name="firstname">
    <input id="surname" class="first" type="text" placeholder="last name" name="lastname">
    <br>
    <br>
    <p id="first"></p>
    <input id="email_id" class="mobile" type="text" placeholder="username" name="username">
    <br>
    <br>
    <p id="first"></p>
    <input id="email_id" class="mobile" type="text" placeholder="Email Address" name="Email">
    <br>
    <br>
    <p id="mobile"></p>
    <input id="pass"  class="mobile" type="password" placeholder="New Password" name="password">
    <br>
    <br>
    <p id="mobile"></p>
    <input id="pass"  class="mobile" type="password" placeholder=" Confirm New Password" name=" confirm_password">
    <br>
    <br>
    
    <button type="submit" class="sign" value="submit" >Register</button>
    <p class="end"><a href="{% url  'car:login_page' %}" target="blank">Already have an account?</a></p>
    
</div>
         
</form>

{% endblock content %}