.box{

    color: black;
    height: 400px;
    width: 400px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
h1{
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}

.caption{
    text-align: center;
    
    
}

.first{
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    height: 25px;
    padding-left: 5px;

}

.mobile{
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    height: 25px;
    width: 350px;
    padding-left: 5px

}

p{
    margin-left: 5px;
    font-weight:bold;
    color:darkolivegreen;
    margin-left: 10px;
    font-size: 15px;
}



.sign{

    border: 1px solid rgb(14, 194, 50);
    background-color: rgb(14, 194, 50);
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    margin-left: 140px;
}

.end{
    color: white;
    font-size: 15px;
    text-align: center;
}


#mail_id{
    color: white;
    padding-left: 5px;
}

#pass{
    color: white;
    padding-left: 5px;
}