/* .container{
    background-image: url(image/dark1.webp);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
} */


.box{

    color: black;
    height: 500px;
    width: 400px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: auto;

}
h1{
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: bold;

}

.caption{
    text-align: center;
    color: black;
}

.first{
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    height: 25px;
    padding-left: 5px;

}

.mobile{
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    height: 25px;
    width: 350px;
    padding-left: 5px

}

p{
    margin-left: 5px;
    font-weight:bold;
    color:white;
    margin-left: 10px;
    font-size: 15px;
}

.date{
    height: 30px;
    width: 90px;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

.month{
    height: 30px;
    width: 90px;
    margin-left: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}


.year{
    height: 30px;
    width: 90px;
    margin-left: 25px;
    border-radius: 5px;
    border: 1px solid gray;
}

.gen{
    border: 1px solid gray;
    margin-left: 30px;
    border-radius: 5px;
    padding-left: 10px;
    width: 90px;
    height: 30px;
    background-color: white;
}

.sign{

    border: 1px solid rgb(14, 194, 50);
    background-color: rgb(14, 194, 50);
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    margin-left: 140px;
}

.end{
    color: white;
    font-size: 15px;
    text-align: center;
}
.gender{
    border:1px solid grey;
    font-size: 10px;

}

/* #mail_id{
    color: white;
    padding-left: 5px;
} */


#first{
    color: white;
    padding-left: 5px;
}

#mobile{
    color: white;
    padding-left: 5px;
}


#new{
    color: white;
    padding-left: 5px;
}

#dob{
    color: white;
    padding-left: 5px;
}
